# Environment variables template

# DB Connection Strings (Don't change it)
AppDbConnectionString=Data Source=sqlserver;Initial Catalog=AppDb;User Id=sa;Password=YourStrong!Passw0rd;Encrypt=True;TrustServerCertificate=True;
AuthDbConnectionString=Data Source=sqlserver;Initial Catalog=AuthDb;User Id=sa;Password=YourStrong!Passw0rd;Encrypt=True;TrustServerCertificate=True;

# JWT Secret Key (Used for authentication)
JWT_SECRET_KEY=your_jwt_secret_key_here

# Stripe API Keys (Used for payment processing)
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_PAYMENT_STATUS_WEBHOOK_SECRET=your_stripe_webhook_secret_here

# Brevo API Key (Used for email services)
BREVO_API_KEY=your_brevo_api_key_here

# Admin Credentials
ADMIN_NAME=your_admin_name_here
ADMIN_EMAIL=your_admin_email_here
ADMIN_PASSWORD=your_admin_password_here
